---
import { datos } from "../data/data.json";

import { Icon } from "astro-icon/components";
import Box from "./Box.astro";
---

<footer class="w-full flex px-6 pb-6 md:px-12 max-w-5xl xl:max-w-7xl">
  <Box
    class="w-full h-[12rem] flex-col sm:flex-row justify-evenly sm:justify-between bg-primary-l dark:bg-primary-d"
  >
    <div class="flex flex-col justify-center opacity-50">
      <p>© 2024 {datos.nombre}.</p>
      <p class="gap-x-1 flex sm:items-center">
        <span>Powered by</span>
        <span class="flex gap-1 items-center">
          Astro
          <Icon name="tabler:rocket" />
        </span>

        <span class="flex gap-1 items-center">
          React
          <Icon name="tabler:brand-react" />
        </span>
      </p>
    </div>
    <div class="flex flex-col justify-center sm:items-center">
      <p class="opacity-50">
        {datos.footer.updated}
      </p>
      <a
        class="size-fit flex gap-1 items-center px-2 py-1 border-2 border-black dark:border-white opacity-50 rounded-full cursor-pointer dark:hover:bg-white dark:hover:text-primary-d hover:scale-110 transition-all duration-200"
        href={datos.footer.linkRepo.link}
        target="_blank"
        rel="noreferrer"
        title={datos.footer.linkRepo.nombre}
      >
        <span>{datos.footer.linkRepo.nombre}</span>
        <Icon name="mdi:github" class="size-6" />
      </a>
    </div>
  </Box>
</footer>
