---
import { Icon } from 'astro-icon/components';
import Box from './Box.astro';

// interface Props {
//   name: string;
//   type: string;
//   description: string;
//   tecnologies: Array<string>;
//   links: {
//     site?: string;
//     repo?: string;
//   };
//   image: {
//     src: string;
//   };
// }

const { name, type, description, tecnologies, links, image } = Astro.props;
---

<Box
  class="flex-col gap-2 row-span-4 col-span-8 xl:col-span-4 text-black dark:text-white bg-primary-l dark:bg-primary-d group hover:-translate-y-2 hover:shadow-2xl transition">
  <header class="flex place-content-between items-center">
    <div class="flex flex-col">
      <span class="font-semibold uppercase opacity-50">{type}</span>
      <h3 class="dark:text-white text-2xl font-bold">{name}</h3>
    </div>
    <div class="flex gap-3 flex-col sm:flex-row">
      {
        links.site && (
          <a
            class="size-fit flex place-content-center items-center p-1 sm:p-2 border-2 border-black dark:border-white opacity-50 rounded-full cursor-pointer dark:hover:bg-white dark:hover:text-primary-d hover:scale-125 transition-all duration-200 shrink-0"
            href={links.site}
            target="_blank"
            rel="noreferrer"
            title={name}>
            <Icon name="tabler:app-window" class="size-6" />
          </a>
        )
      }
      {
        links.site && (
          <a
            class="size-fit flex place-content-center items-center p-1 sm:p-2 border-2 border-black dark:border-white opacity-50 rounded-full cursor-pointer dark:hover:bg-white dark:hover:text-primary-d hover:scale-125 transition-all duration-200 shrink-0"
            href={links.repo}
            target="_blank"
            rel="noreferrer"
            title={'Repositorio de ' + name}>
            <Icon name="mdi:github" class="size-6 " />
          </a>
        )
      }
    </div>
  </header>
  <p class="text-base opacity-70 max-w-[90%]">{description}</p>
  <div class="flex items-center gap-2 opacity-90 font-medium">
    {
      tecnologies.map((tecnology: string) => (
        <span class="text-sm">{tecnology}</span>
      ))
    }
  </div>

  {
    image && (
      <img
        class="w-[100rem] top-48 rounded-2xl object-cover transition-all duration-300 lg:-right-12 mt-6 hover:scale-105 hover:-translate-y-16 hover:shadow-lg"
        src={image.src}
        alt={name}
        title="Project screenshot"
      />
    )
  }
</Box>
